html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body{
    background-color: #ececed;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* Header */
.header_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0px;
    padding-top: 80px;
    margin: 0 auto;
    width: 100%;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 45pt;
    font-weight: 900;
    color: #4968ec;
    margin: 0;
    padding-top: 15px;
    padding-left: 15px;
}
h2 {
    margin: 0;
    padding-top: 55px;
    font-family: 'Roboto', sans-serif;
    font-size: 28pt;
    font-weight: 700;
    color: #082541;
}
h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #082541;
    margin: 0;
    padding-top: 20px;
    font-size: 23px;
    line-height: 17pt;
}
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #082541;
    margin: 0;
    padding-top: 20px;
    font-size: 19px;
    line-height: 17pt;
}

@media screen and (max-width: 720px) {
    h1 {
        font-size: 38pt;
    }
    h2 {
        font-size: 18pt;
    }
    p {
        font-size: 14pt;
    }
} 