@font-face {
    font-family: "OpenSans";
    src: url("../Fonts/FuturaPT-Heavy.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url("../Fonts/FuturaPT-Demi.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url("../Fonts/FuturaPT-Light.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url("../Fonts/FuturaPT-Medium.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url("../Fonts/FuturaPT-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url("../Fonts/FuturaPT-Book.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url("../Fonts/FuturaPT-ExtraBold.ttf");
    font-style: normal;
    font-weight: normal;
}