body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}


.burger-menu {
    display: none;
}
.menu_wrapper {
    overflow: hidden;
    width: 100%;
    height: auto;
}
.logo_wrapper {
    min-width: 200px;
    padding-left: 290px;
}
a {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    text-decoration: none;
}
.logo_img {
    align-self: center;
    margin: 9px 20px;
}
.logo_text {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 23pt;
    color: #082541;
    padding-top: 25px;
    margin: 0;
}

/* начало меню */
.head-menu {
    background-color: #082541;
    position: relative;
    z-index: 200;
    width: 60%;
    box-shadow: 0 5px 10px rgba(8, 27, 70, 0.575);
}
.head-title_menu *{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform:uppercase;
    padding: 0;
   }

   .head-title_menu ul,
   .head-title_menu ol{
    list-style: none;
   }
   .head-title_menu > ul{
    display: flex;
    justify-content: space-evenly;
   }
   .head-title_menu > li{
    min-width: 30px;
   }
   .head-title_menu > ul li{
    position: relative;
    
   }
   .head-title_menu > ul li a{
    display: block;
    margin: 0;
    padding: 25px 47px;
    text-align: center;
    font-size: 18px; 
    min-width: 100px;
    color: #ececed;
    text-decoration: none;
    transition: all 0.3s ease;
   }

   .head-title_menu li a:hover{
    transition: all 0.3s ease;
    background-color: #4968ec;
   }

.head-title_menu li ul{
    text-align: left;
    padding-top: 0;
    position: absolute;
    min-width: 310px;
    display: none;
   }

   .head-title_menu li > ul li a{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    text-transform: none;
    font-size: 21px;
    padding: 10px;
    background: #4968ec;
    transition: height 0.5s, opacity 0.8s;
   }
   .head-title_menu li > ul li a:hover {
    color: #ececed;
    background: #6a86ff;
    transition: opacity 0.8s;
   }
   .head-title_menu li:hover > ul {
    display: block;
    box-shadow: 0 5px 10px rgba(8, 27, 70, 0.575);
   }
   
   /* Стиль фиксированного меню */

   .headhesive {
       width: 100%;
       position: fixed;
       opacity: 0;
       transition: 0.4s;
       opacity: 0;
       box-shadow: 0 5px 10px rgba(8, 27, 70, 0.575);
   }
   .headhesive .head-menu{
       box-shadow: none;
   }
   .headhesive .logo_img {
       display: none;
   }
   .headhesive .logo_text{
       color: #ececed;
       font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 22pt;
        padding-left: 110px;
        padding-top: 35px;
        padding-bottom: 0;
   }
   .headhesive .logo_wrapper {
       padding-bottom: 0;
   }
   .headhesive--stick {
       background-color: #082541;
        opacity: 95%;
   }


/* Стиль подвала */

.footer-wrapper-table {
    width: 70%;
}
.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #082541 ;
    padding-bottom: 10px;
}
.footer-logo_text {
    padding-top:70px;
    color: #ececed;
}
.footer-logo {
    margin: 0;
    padding-right: 60px;
}
.footer-logo_img {
    padding: 0;
    margin: 0;
}

.mail {
    padding-left: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0;
}
.mail_img {
    display: block;
    width: 40px;
    height: 40px;
    margin: 20px 0 15px 0;
}
.email {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
    margin: 13px 0 0 0;
    color: #ececed;
}


@media only screen and (max-width: 1890px) {
    .logo_wrapper {
        padding-left: 220px;
    }
    .head-title_menu > ul li a{
        padding: 25px 42px;
       }
}
@media only screen and (max-width: 1820px) {
    .logo_wrapper {
        padding-left: 170px;
    }
}
@media only screen and (max-width: 1750px) {
    .logo_wrapper {
        padding-left: 100px;
    }
    .head-title_menu > ul li a{
        padding: 25px 37px;
       }
}

@media only screen and (max-width: 1555px) {
    .logo_wrapper {
        padding-left: 90px;
    }
    .head-title_menu > ul li a{
        padding: 25px 33px;
       }
}
/* Бургер-меню появляется */
@media screen and (max-width: 1500px) {
    .menu_wrapper {
        display: none;
    }
    .burger-menu {
        display: block;
    }
}

@media screen and (max-width: 900px) {

    .logo_img {
        display: none;
    }
    .mail_img {
        display: none;
    }
    .mail {
        margin-top: 0;
        padding-left: 0;
    }
}


@media screen and (max-width: 560px) {

    .footer-wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {

    .logo_text {
        font-size: 15pt;
        text-align: center;
        width: 100%;
        padding: 30px 30px;
    }
    .logo_img {
        display: none;
    }
    .mail_img {
        display: none;
    }
    .email {
        font-size: 13pt;
        text-align: center;
        margin: 0 auto;
    }
}
@media screen and (max-width: 320px) {

    .footer-wrapper {
        display: block;
    }
    .footer-block {
        justify-content: center;
    }
    .logo_text {
        font-size: 15pt;
        text-align: center;
        padding: 0;
    }
    .email {
        font-size: 13pt;
    }
}
