html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body{
    background-color: #ececed;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.header {
    background: url(../img/wave.png) no-repeat;
}
/* Header */
.header_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 22px;
    padding-top: 120px;
    margin: 0 auto;
    width: 100%;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 45pt;
    font-weight: 900;
    color: #4968ec;
    margin: 0;
    padding-top: 15px;
    padding-left: 15px;
}
h2 {
    margin: 0;
    padding-top: 55px;
    font-family: 'Roboto', sans-serif;
    font-size: 28pt;
    font-weight: 700;
    color: #082541;
}
h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #082541;
    margin: 0;
    padding-top: 20px;
    font-size: 23px;
}
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #082541;
    margin: 0;
    padding-top: 20px;
    font-size: 19px;
}
.header-title-text{
    padding-left: 60px;
}
.header-text {
    width: 500px;
    padding-left: 60px;
}
.header-image {
    padding-left: 50px;
}
.image-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #4968ec;
    font-size: 15px;
    margin: 0;
}
.header-image-text {
    text-align: right;
}


/* Main */
.main-wrapper{
    width: 1280px;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 20px;
}
.first {
    margin-top: 5px;
}

.block-image {
    float: right;
    padding-top: 20px;
    margin-left: 60px;
}
.block-image p {
    text-align: center;
}
.text-share-block {
    margin: 15px auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #4968ec;
    border-right-style: none;
    border-left-style: none;
    width: 85%;

}
.main-text-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #4968ec;
    margin: 0;
    padding-top: 5px;
}
.main-share {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin: 0;
    padding-top: 5px;
    padding-right: 5px;
}
.third-image {
    display: block;
    margin: 0 auto;
    float: none;
    padding-top: 25px;
}

.third-image-text {
    padding-top: 10px;
    text-align: center;
}
.fourth-block-image {
    padding-left: 0;
    margin: 0;
    padding-right: 25px;
    float: left;
}
.sourc {
    text-decoration: none;
}
.link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #4968ec;
    margin: 0;
    font-size: 19px;
    padding-top: 10px;
    width: 100%;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline #4968ec;
}
.sources-block {
    margin-top: 100px;
    border-top: 2px solid #4968ec;
}
sup {
    font-size: 12pt;
}
.text-sup {
    font-size: 11px;
}

@media screen and (max-width: 1445px) {
    .header-image-text {
        text-align: center;
    }
}

@media screen and (max-width: 1400px) {
    .main-wrapper{
        width: 1200px;
    }
    .header_content {
        width: 90%;
    }
    .header-image {
        padding-top: 30px;
    }
}

@media screen and (max-width: 1320px) {
    .main-wrapper{
        width: 1000px;
    }
}

@media screen and (max-width: 1120px) {
    .main-wrapper{
        width: 720px;
    }
    p {
        font-size: 14pt;
    }
    .link {
        font-size: 14pt;
    }
}
@media screen and (max-width: 800px) {
    .main-wrapper{
        width: 640px;
    }
    p {
        font-size: 14pt;
    }
    .link {
        font-size: 12pt;
    }
    .fourth-block-image {
        display: block;
        float: none;
        margin: 0 auto;
    }
    .main-share {
        text-align: center;
        padding-bottom: 5px;
    }
    .block-image {
        float: none;
        margin: 0 auto;
    }
    img {
        display: block;
        margin: 0 auto;
    }
    h3 {
        font-size: 15pt;
    }
}
@media screen and (max-width: 800px) {
    .main-wrapper{
        width: 480px;
    }
    h1 {
        text-align: center;
        font-size: 35pt;
    }
    h2 {
        font-size: 23pt;
    }
    h3 {
        font-size: 13pt;
    }
    .main-share,
    .main-text-button  {
        font-size: 16pt;
    }
    .block-image,
    .fourth-image {
        width: 80%;
        height: auto;
    }
    .sourc {
        margin: 0;
        padding: 0;
    }
    .link {
        font-size: 10pt;
    }
    img {
        width: 80%;
    }
    .sources-block {
        margin-top: 30px;
    }
    .header-text,
    .header-title-text {
        padding-left: 0;
    }
    .header-image {
        width: 80%;
        height: auto;
    }
}

@media screen and (max-width: 560px) {
    .main-wrapper{
        width: 380px;
    }
    .header-text {
        width: 90%;
    }
    .header_content {
        padding-top: 30px;
    }

}
@media screen and (max-width: 450px) {
    .main-wrapper{
        width: 80%;
    }

}
@media screen and (max-width: 320px) {
    .main-wrapper{
        width: 80%;
    }
    h1 {
        font-size: 30pt;
    }
    .header_content {
        padding-left: 15px;
    }
    .header-image {
        padding-left: 0;
    }
    .main-wrapper {
        padding-left: 20px;
    }
    .main-text-button {
        text-align: center;
    }
    .text-share-block {
        margin-top: 35px;
    }

}