@font-face {
    font-family: 'Futura PT', 'Light';
    src: url('woff/FuturaPT-Light.woff') format('woff'),
        url('ttf/FuturaPT-Light.ttf') format('truetype'),
        url('otf/FuturaPT-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT', 'Bold';
    src: url('woff/FuturaPT-Bold.woff') format('woff'),
        url('ttf/FuturaPT-Bold.ttf') format('truetype'),
        url('otf/FuturaPT-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT', 'ExtraBold';
    src: url('woff/FuturaPT-ExtraBold.woff') format('woff'),
        url('ttf/FuturaPT-ExtraBold.ttf') format('truetype'),
        url('otf/FuturaPT-ExtraBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT', 'Demi';
    src: url('woff/FuturaPT-Demi.woff') format('woff'),
        url('ttf/FuturaPT-Demi.ttf') format('truetype'),
        url('otf/FuturaPT-Demi.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT', 'Heavy';
    src: url('woff/FuturaPT-Heavy.woff') format('woff'),
        url('ttf/FuturaPT-Heavy.ttf') format('truetype'),
        url('otf/FuturaPT-Heavy.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT', 'Medium';
    src: url('woff/FuturaPT-Medium.woff') format('woff'),
        url('ttf/FuturaPT-Medium.ttf') format('truetype'),
        url('otf/FuturaPT-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT', 'Book';
    src: url('woff/FuturaPT-Book.woff') format('woff'),
        url('ttf/FuturaPT-Book.ttf') format('truetype'),
        url('otf/FuturaPT-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

